{% extends "layout.html.j2" %}

{% block title %}
    Welcome
{% endblock %}

{% block main %}

    <section>
        <div class="container p-2">
            <p class="h2">Welcome</p>
        </div>
        <div class="container p-2">
            <p class="h6">Hello world! I am Justin and this is my CS50x Final Project: Gringotts!</p>
            <p class="h6">Gringotts is a web app designed to help small businesses with calculating end of day takings.
             Its inception was inspired by real-world problems encountered during my career as a community pharmacist.</p>
            <p class="h6">Gringotts allows users to register to create an account, login to add a new entry, and review their previous entries via History.</p>
            <p class="h6">Gringotts' Model utilises SQLite to manage data, Flask as its Controller, and its View is designed with Bootstrap.</p>
            <p class="h6">To try it out, click on Register to create an account!</p>
        </div>
    </section>

{% endblock %}