{% enxtends "layout.html.j2" %}

{% block title %}
    New Page
{% endblock %}

{% block main %}
    THIS IS WHERE YOU INPUT YOUR NUMBERS FOR THE DAY

    * SHOW DD/MM/YYYY AND HH/MM/SS *
{% endblock %}
